<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendizagem de Máquinas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <header>
        <nav>   
            <div class="imagem-descricao">
                <div>
                    <img class="imagem-menu" src="{{ url_for('static', filename='assets/logo-menu.svg') }}" alt="logo">
                </div>
                <div class="rotulo-imagem">
                    <span>Modelos de Aprendizagem</span>
                    <span>de Máquina</span>
                </div>
            </div>
            <ul class="container-nav"> 
                <li class="dropdown">
                    <a href="#">Modelos</a> 
                    <div class="dropdown-menu">
                        <a href="#">KNN</a>
                        <a href="#">Arvore de Decisão</a>
                        <a href="#">k-means</a>
                        <a href="#">Redes Neurais</a>                        
                    </div>                    
                </li>
                <li class="dropdown">
                    <a href="#">Datasets</a>  
                    <div class="dropdown-menu">
                        <a href="#">Flor de Íris</a>
                        <a href="#">Digitos escritos a mão</a>
                        <a href="#">Diagnóstico de cancer de mama</a>    
                        <a href="#">Análise química de vinhos</a>   
                        <a href="#">Regressão de progressão de diabetes</a>    
                        <a href="#">Exercícios físicos e medidas corporais</a>              
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Instruções</a>  
                    <div class="dropdown-menu">
                        <a href="#">Como se cadastrar</a>
                        <a href="#">Como criar um novo modelo</a>
                        <a href="#">Como testar uma base de dados</a>  
                        <a href="#">Como salvar os resultados</a>                   
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#">Usuário</a>   
                    <div class="dropdown-menu">
                        <a href="#">Entrar</a>
                        <a href="#">Novo usuário</a>
                        <a href="#">Histórico de predições</a>                                           
                    </div>                    
                </li>            
            </ul>
        </nav>
    </header>

    <main>
        <img class="tema-fundo" src="{{ url_for('static', filename='assets/tema-fundo.png') }}" alt="tema de fundo">
        <div class="secoes">
            <div>
                <img class="imagem-secao" src="{{ url_for('static', filename='assets/knn.svg') }}" >
                <span>KNN</span>
                <p>
                    O algoritmo KNN (K-Nearest Neighbors), ou K-Vizinhos Mais Próximos, 
                    é um algoritmo de classificação e regressão usado em machine learning. 
                    Ele é simples, intuitivo e funciona com base na proximidade entre os 
                    dados...
                </p>
                <a href="#"><img src="{{ url_for('static', filename='assets/seta.svg') }}"></a>                
            </div>
            <div>
                <img class="imagem-secao" src="{{ url_for('static', filename='assets/flor.svg') }}" >
                <span>Flor de Íris</span>
                <p>
                    O dataset Irisé um dos conjuntos de dados mais famosos e amplamente 
                    utilizados em estatística, machine learning e ciência de dados para 
                    classificação supervisionada. Ele foi introduzido pelo estatístico 
                    britânico Ronald A. Fisher...
                </p>
                 <a href="#"><img src="{{ url_for('static', filename='assets/seta.svg') }}"></a>
            </div>
            <div>
                <img class="imagem-secao" src="{{ url_for('static', filename='assets/sobre.svg') }}" >
                <span>Sobre</span>
                <p>
                    A plataforma fonece um ambiente totalmente gratuito para testes
                    com diversos modelos de aprendizagem de máquina. O objetivo é
                    democratizar o acesso a modelos capazes de fazer predições em base
                    dados...
                </p>
                 <a href="#"><img src="{{ url_for('static', filename='assets/seta.svg') }}"></a>                
            </div>
            <div>
                <img class="imagem-secao" src="{{ url_for('static', filename='assets/salve.svg') }}" >
                <span>Dados Salvos</span>
                <p>
                    Utilize a ferramenta de forma totalmente gratuita e salve seus 
                    resultados para análise futura. Basta realizar o cadastro e todas
                    as vezes que usar a ferramenta, faça o login, realise seus trabalhos
                    com os modelos disponibilizados e salve tudo...
                </p>
                 <a href="#"><img src="{{ url_for('static', filename='assets/seta.svg') }}"></a>                
            </div>
        </div>

        <div class="barra">
             <h1>Comece a usar os modelos de Aprendizagem de Maquina agora mesmo!</h1>
        </div>

        <section id="irisClassifierApp" class="iris-classifier-container">
            <h2 class="classifier-title">Classificador Interativo de Íris</h2>
            <div class="controls-section">
              <div class="model-selector-container">
                <label for="modelSelector">Selecionar Modelo:</label>
                <select id="modelSelector">
                  {% if available_models %}
                    {% for key, name in available_models.items() %}
                      <option value="{{ key }}">{{ name }}</option>
                    {% endfor %}
                  {% else %}
                    <option value="" disabled>Nenhum modelo disponível</option>
                  {% endif %}
                </select>
              </div>
              <div>
                <button id="btnTreinar">Treinar Todos os Modelos</button>
                <button id="btnTestar" disabled>Testar Modelo Selecionado</button>
              </div>
            </div>
            
            <hr class="classifier-hr">
          
            <div class="prediction-section">
              <h3>Fazer Nova Predição</h3>
              <form id="formPredict">
                <div class="form-group">
                  <input type="number" step="any" name="sepal_length" placeholder="Comp. Sépala (cm)" required>
                  <input type="number" step="any" name="sepal_width" placeholder="Larg. Sépala (cm)" required>
                </div>
                <div class="form-group">
                  <input type="number" step="any" name="petal_length" placeholder="Comp. Pétala (cm)" required>
                  <input type="number" step="any" name="petal_width" placeholder="Larg. Pétala (cm)" required>
                </div>
                <button type="submit" id="btnPredict" disabled>Enviar Valores para Predição</button>
              </form>
              <div id="resultadoPredict">Resultado da Predição: </div>
            </div>
            
            <div id="testResultsContainer">
              <h3 style="text-align: center;">Resultados do Teste do Modelo</h3>
              <div id="loading">
                <div class="spinner"></div>
                <span>Carregando resultados...</span>
              </div>
              <div id="resultsContent">
              </div>
            </div>
        </section>
    </main>

    <footer>
    </footer>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>